{{!Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license.}}
{{!master(layout/_master.tmpl)}}

<h1 id="{{id}}" data-uid="{{uid}}" class="text-break">{{ name }} {{ displayType }}</h1>

<div class"markdown level0 summary">{{payload.description}}</div>

{{#isTabular}}
{{>partials/tabular.columns}}
{{/isTabular}}

{{#isTable}}
{{>partials/table.foreignkeys}}
{{/isTable}}

{{#isTable}}
{{>partials/table.checks}}
{{/isTable}}

{{#isTabular}}
{{>partials/tabular.triggers}}
{{/isTabular}}

{{>partials/sqlscript}}
 