{{!Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license.}}
{{!master(layout/_master.tmpl)}}

<h1>{{ Object.Name }} {{ DisplayType }}</h1>

{{#Object.Script}}
<h2>Script</h2>
<pre class="sql">
<code>
{{ Object.Script }}
</code>
</pre>
{{/Object.Script}}
